<!DOCTYPE html>
<html lang="en">

<head>
    <title>MySQL DB</title>
    <meta charset="utf-8">
</head>

<body>
    <h1>Database Initialized!</h1>
    <br>
    <a href="mySQLDatabase">BACK</a>
</body>

</html>